html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
	background-color: #BF3030;
}
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    height: 30px;
    width: 100%;
    background-color: #1D7373;
    -moz-box-shadow: 0 0 10px #424242;
    -webkit-box-shadow: 0 0 10px #424242;
    box-shadow: 0 0 10px #424242;
    
}
#box {
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    background-color: #FF7373;
    padding: 5%;
}
#code {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #1D7373;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: inset 0 0 5px #424242;
    -webkit-box-shadow: inset 0 0 5px #424242;
    box-shadow: inset 0 0 5px #424242;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: #006363;
}
a:hover {
    color: #A60000;
}
h1 {
    margin: 0;
	font-family: 'Maiden Orange', cursive;
	font-size: 6em;
	text-align: center;
	color: #009999;
}
h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    color: #A60000;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#code p {
    margin: 0;
    font-family: 'Cutive Mono', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}
#footer p {
    margin: 5px;
    font-size: 15px;
    color: #FFFFFF;
}